node-red vis V2.txt
[{"id":"d0086ca3.7b205","type":"inject","z":"ba103e12.5d674","name":"","topic":"","payload":"{\"temp_sim\":\"30\",\"pos_sim\":\"10\"}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["76cea07f.fbd4b"]]},{"id":"76cea07f.fbd4b","type":"function","z":"ba103e12.5d674","name":"delta-var","func":"msg.payload.delta = Math.round(Math.random()*5);\nmsg.payload.sign = 1;\nif (Math.round(Math.random())>0.5){\n    msg.payload.sign =-1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":420,"wires":[["7e7ea4e1.82a08c","64ddb2cd.8a09ac"]]},{"id":"7e7ea4e1.82a08c","type":"function","z":"ba103e12.5d674","name":"Payload - device","func":"//codes des capteurs\nmsg.dev1 = '00000000E5D91F60' ;\nmsg.dev2 = '00000000130D42BB' ;\n//indiquer codes au niveau du payload selon le signe (SIMULATION ICI)\nif (msg.payload.sign == 1){\n    msg.payload.device = msg.dev1;//temp\n    //simuler changement de temperature\nmsg.payload.temp = parseInt(msg.payload.temp_sim)+ \nparseInt(msg.payload.delta) * parseInt(msg.payload.sign) ;//delta aleatoire\n\n}else{\n    msg.payload.device = msg.dev2;//position\n    //simuler changement de position\nmsg.payload.pos  = parseInt(msg.payload.pos_sim) +\nparseInt(msg.payload.delta) * parseInt(msg.payload.sign) ;//delta aleatoire\n\n}\nreturn {\n    payload: msg.payload\n}\n","outputs":1,"noerr":0,"x":550,"y":560,"wires":[["5e493230.23da4c"]]},{"id":"64ddb2cd.8a09ac","type":"switch","z":"ba103e12.5d674","name":"Split Topic","property":"payload.device","propertyType":"msg","rules":[{"t":"eq","v":"00000000E5D91F60","vt":"str"},{"t":"eq","v":"00000000130D42BB","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":240,"wires":[["ed59fd99.1eeb4","d7107c9e.eb677"],[]]},{"id":"ed59fd99.1eeb4","type":"function","z":"ba103e12.5d674","name":"Creation request 1","func":"\nreturn {\n    payload:{\n    device:msg.payload.device,\n    temp:msg.payload.temp,\n    pos:msg.payload.pos\n    }  \n    \n}","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["1756d7f7.a8aa68"]]},{"id":"d7107c9e.eb677","type":"function","z":"ba103e12.5d674","name":"Creation Request 2","func":"return {\n    payload:{\n    device: msg.payload.device,\n    temp: msg.payload.temp,\n    pos: msg.payload.pos\n    }  \n    \n}","outputs":1,"noerr":0,"x":630,"y":340,"wires":[["93a79dae.83aff"]]},{"id":"1756d7f7.a8aa68","type":"http request","z":"ba103e12.5d674","name":"sensor-nacer-temp1","method":"POST","ret":"txt","url":"https://dweet.io/dweet/for/info34-nacer-bdeb-sensor-temp1","tls":"","x":880,"y":220,"wires":[["493e7b49.d71344"]]},{"id":"93a79dae.83aff","type":"http request","z":"ba103e12.5d674","name":"sensor-nacer-pos1","method":"POST","ret":"txt","url":"https://dweet.io/dweet/for/info34-nacer-bdeb-sensor-pos1","tls":"","x":890,"y":380,"wires":[["52226e4d.1958c"]]},{"id":"493e7b49.d71344","type":"debug","z":"ba103e12.5d674","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110,"y":140,"wires":[]},{"id":"52226e4d.1958c","type":"debug","z":"ba103e12.5d674","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":300,"wires":[]},{"id":"5e493230.23da4c","type":"debug","z":"ba103e12.5d674","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":600,"wires":[]}]